html {
    scroll-behavior: smooth;
  }
body {
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/assests/backgroud\ body.webp");
    height: 100%;
    width: 100%;
    background-size: contain;
    position: relative;
    background-color: #0d0e0f;
 scroll-behavior: smooth;
}

.backgroud_container {
    position: relative;
}

.cursor {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    margin-top: 20px;
    margin-left: 15px;
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 2.6s; 
}

.container {
    max-width: 1400px;
    margin: auto;
    width: 90%;
}

.container2 {
    max-width: 1400px;
    margin: auto;
    width: 82%;

}
.container3 {
    max-width: 1400px;
    margin: auto;
    width: 86%;
    padding-left: 59px !important;
}

.logo {
    position: relative;
    z-index: 95;
}

.header_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    padding: 25px 0px;
}

.part1_header {
    display: flex;
    align-items: center;
    width: 70%;
    gap: 22px;
}

.part2_header {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 45px;
}
.main_menu {
    display: flex;
    list-style: none;
    width: 100%;
    gap: 20px;
}

.list {
    color: white;
    font-size: 16px;
    position: relative;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

ul.main_menu a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.search {
    margin-left: 30px;
}

.search i {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.phonecall_icon i {
    font-size: 17px;
    color: white;
    padding: 10px;
    background: #ffffff17;
    border-radius: 50%;
}

.call a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
}

.call {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.header_btn a {
    text-decoration: none;
    background: white;
    padding: 14px 40px;
    border-radius: 22px;
    color: black;
    font-weight: 700;
    font-size: 15px;
    box-shadow: 0 7px 25px rgba(249, 249, 249, 0.2);
}

.unique:before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: white;
    border-radius: 10px;
    bottom: -5px;

}

.list span {
    position: relative;
}

.secdrop {
    position: relative;
}

.list span:after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background: white;
    border-radius: 10px;
    bottom: -5px;
    transition: all 0.5s ease;
    left: 0;
}

.sub_menu .list span:after {
    height: 1px;
}

.all:hover::after {
    width: 100%;
}

#list1 .unique {
    position: relative;
    color: white;
}

li#list1\  {
    transform: translateX(15px);
}

.sub_main-menu {
    position: absolute;
    top: 70px;
    padding-top: 30px;
    border-radius: 20px;
    width: 250px;
    transform: translateY(0px);
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    left: -27px;
    z-index: 15;
}

.sub_main-menu3 {
    position: absolute;
    top: 70px;
    padding-top: 30px;
    border-radius: 20px;
    width: 1000px;
    transform: translateY(0px);
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    left: -413px;
    z-index: 15;
}

.sub_main-menu2 {
    position: absolute;
    top: 0px;
    border-radius: 20px;
    width: 250px;
    transform: translateY(0px);
    transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;
    left: 147px;
    padding-left: 79px;
    top: 0;
    z-index: 15;
}

.mega_menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #17242B;
    padding: 20px;
    border-radius: 20px;
    gap: 88px;
}

.mega_menu h2 {
    font-size: 18px;
}

.sub_menu {
    background: #17242B;
    padding: 20px;
    list-style: none;
    border-radius: 20px;
}

li#secdrop i {
    color: #929495;
}

li#secdrop:hover i {
    color: white;
}

.sub_menu li a {
    font-size: 15px !important;
    color: #929495;
    transition: all 0.4s ease;
}

.sub_menu li {
    margin: 16px 0px;
    transition: all 0.4s ease;
}

.sub_menu li a:hover {
    color: white;
    transform: translateX(5px);
}

.sub_menu li:hover {

    transform: translateX(10px);
}

.list:hover .sub_main-menu {
    transform: translateY(-40px);
    opacity: 1;
    visibility: visible;
}

.list:hover .sub_main-menu3 {
    transform: translateY(-40px);
    opacity: 1;
    visibility: visible;
}

#secdrop:hover .sub_main-menu2 {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

li#list1 {
    position: relative;
}

li#list1:before {
    content: '';
    position: absolute;
    height: 2px;
    background: white;
    width: 100%;
    bottom: -5px;
    border-radius: 20px;
}

.Close_menu {
    position: absolute;
    top: 0;
    height: 0px;
    background-color: #0d0e0f;
    width: 100%;
    transition: all 0.5s ease;
    overflow: hidden;
    max-width: 1400px;
    margin: auto;
    z-index: 90;
}

.form_search_bar {
    padding-top: 228px;
    padding-left: 85px;
}

#search_pop {
    width: 88%;
    padding: 20px;
    background:transparent;
    border: none;
    color: white;
    font-size: 30px;

    outline: none;
}

.inputs {
    position: relative;
    transition: all 0.4s ease;
}

.inputs::before {
    content: '';
    position: absolute;
    transition: all 0.4s ease;
    bottom: 2px;
    width: 0%;
    height: 1px;
    background: #92949554;
    z-index: 54;
}

.inputs i {
    font-size: 27px;
    color: white;
}

.cross_bar {
    position: absolute;
    right: 90px;
    top: 23px;
    transition: all 0.4s ease;
}

.cross_bar i {
    color: white;
    font-size: 40px;
    transition: all 0.4s ease;
}

.cross_bar:hover {
    transform: rotate(180deg);
}

.cross_bar i {
    transition: all 0.2s ease;
    cursor: pointer;
    transform: scale(1);
    transform: rotate(0deg);
}

#line {
    height: 2px;
    width: 0%;
    transition: all 1.6s ease;
    background-color: #9294956c;
}

#responsive_bar {
    font-size: 20px;
    color: white;
    display: none;
}

.responsive_header {
    position: absolute;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    height: 0px;
    align-items: baseline;
    transition: all 0.4s ease;
    opacity: 0;
    overflow: hidden;
    z-index: 100;
    background: black;
}

.homepage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 50%;
    background: #161719;
    height: 500px;
    padding: 67px;
}

.headerlinks a {
    text-decoration: none;
    color: #929495;
    font-size: 20px;
    font-weight: 700;
}

.headerlinks a {
    text-decoration: none;
    color: #929495;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.4s ease;
}

.headerlinks {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 91px;
    overflow: overlay;
    border-bottom: 1px solid rgba(128, 128, 128, 0.63);
}

.headerlinks::-webkit-scrollbar {
    display: none;
}

.query::-webkit-scrollbar {
    display: none;
}

.icons_header i {
    color: white;
}

.icons_header {
    display: flex;
    gap: 23px;
    padding-top: 20px;
}

.headerlinks a:hover {
    color: white;
}

.query h6 {
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
}

.query a {
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.query {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 37px;
    width: 50%;
    overflow: overlay;
    height: 37px;
}

.Close_responsive {
    position: absolute;
    gap: 10px;
    display: flex;
    align-items: center;
    right: 100px;
    top: 57px;
}

span#Res_bar i {
    color: white;
    font-size: 24px;
    transition: all 0.5s ease;
    transform: scale(1)
}

span#Res_bar {
    color: #929495;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease;
}

span#Res_bar:hover i {
    transform: rotate(180deg);

}

.blue {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: none;
    background: #00ADFF;
    transition: all 0.5s ease;
    padding: 19px 45px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 7px 25px rgba(0, 173, 255, 0.2);
}

.blue:hover {
    background-color: #0390d3;
}
.sec_1btn {
    display: flex;
    gap: 10px;
}
.white {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: none;
    background: white;
    padding: 19px 45px;
    border-radius: 30px;
    color: black;
    box-shadow: 0 7px 25px rgba(249, 249, 249, 0.2)
}

section.sec_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 82px 0px;
    gap: 20px;
}

.sec_1_part1 {
    width: 43%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    margin: 0;
}
.sec1_part2 {
    width: 60%;
}

.sec1_part2 img {
    width: 100%;
    border-radius: 19px 19px 19px 19px;
}

.sec_1_part1 h2 {
    font-size: 70px;
    line-height: 1.07;
    letter-spacing: -4px;
    color: white;
    margin: 0px;
}

.sec_1_part1 p {
    color: #929495;
    margin-bottom: 39px;
    line-height: 1.8;
}

.chakri {
    position: absolute;
    right: 47px;
    top: -10px;
    z-index: -1;
}

.chakri img {
    animation: chakri 10s infinite linear;
}

.sec_2all_img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.sec_2all_img img {
    opacity: 0.5;
    transition: all 0.5s ease;
    cursor: pointer;
    width: 100%;
}

.sec_2all_img img:hover {
    opacity: 1;
}

.channel {
    width: 13%;
}

.sec_3_img {
    width: 54%;
    position: relative;
    top: -74px;
}

.secimg1 img {
    width: 100%;
    border-radius: 19px 19px 19px 19px;
}

.secimg2 img {
    width: 100%;
    border-radius: 19px 19px 19px 19px;
    ;
}

.secimg1 {
    width: 64%;
}

.secimg2 {
    width: 64%;
    position: absolute;
    right: 50px;
    top: 115px;
}

section.sec_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
}

.sec_3_text {
    width: 40%;
}

.sec_3text1 span {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
}

.sec_3text1 h2 {
    color: white;
    font-size: 51px;
    margin: 0;
}

.sec_3text1 p {
    color: #929495;
    line-height: 1.3;
    font-size: 19px;
}

.audio_sec3 h4 {
    color: white;
    font-size: 20px;
    margin: 13px 0px;
}

.audio_sec3 p {
    color: #929495;
    line-height: 1.3;
    font-size: 17px;
    font-weight: 500;
}

.secsec_3text21 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}

section.sec_4 {
    background: #161719;
    padding: 100px 0px;
}

#email_bar {
    background-color: #1D1E21;
    padding: 0px 16px;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    width: 90%;
    color: white;
    outline: none;
    height: 55px;
    border: none;
    border-radius: 30px;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.05) !important;
}

#sub {
    padding: 18px 24px;
    border: none;
    border-radius: 30px;
    width: 35%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    background: #3441BE;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 7px 25px rgba(0, 173, 255, 0.2);
}

button#sub:hover {
    background: #2430A2;
}

.sec_4_headine h2 {
    color: white;
    font-size: 45px;
    margin: 0;
}

.sec_4inner {
    display: flex;
    align-items: center;
}

.sec_4_headine {
    width: 41%;
}

.sec_4_form {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

section.sec_4 {
    background: #161719;
    padding: 103px 0px;
}

.sec_4_form span {
    color: #929495;
    font-size: 14px;
    font-weight: 600;
}

.sec_4inputs {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.sec_4_form a {
    color: #929495;
    font-weight: 600;
    text-underline-position: under;
}

.point {
    width: 10px;
    height: 6px;
    border-radius: 2px;
    background: white;
    display: none;
}


.remove_point {
    display: block;
}

.remove_point2 {
    display: block !important;
}


.point_border {
    border: 1px solid;
    height: 6px;
    width: 6px;
    display: flex;
    align-items: center;
    padding: 3px 3px;
    border-radius: 4px;
    cursor: pointer;
}

#point_border2 {
    border: 1px solid;
    height: 6px;
    width: 6px;
    display: flex;
    align-items: center;
    padding: 3px 3px;
    border-radius: 4px;
    cursor: pointer;
}

.ponitEdit {
    display: flex;
    gap: 4px;
}

#ponitEdit {
    display: flex;
    gap: 4px;
}

.sec5part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 65%;
}

.sec5part1 span {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 16px;
}

.sec5part1 h2 {
    font-size: 55px;
    margin: 10px 0px;
}

.sec5_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 95px 0px;
    gap: 29px;
}

.sec5part2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.sec5part3 {
    margin-top: 25px;
}
.con1img img {
    width: 100%;
}

.con1:hover .con1img {
    transform: translateY(-10px);
}

.con1img {
    width: 65%;
    background: #161719;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.con1 {
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    text-align: center;
}

.title {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.con1text p {
    color: #929495;
    text-align: center;
    margin: 6px 0px;
    font-weight: 700;
}

.sec5part3 a {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: 18px;
    text-decoration: none;
    text-transform: none;
    background: #00ADFF;
    padding: 19px 45px;
    border-radius: 30px;
    color: white;
    box-shadow: 0 7px 25px rgba(0, 173, 255, 0.2);
    transition: all 0.5s ease;
}

.sec5part3 a:hover {
    background-color: #0390d3;
}

.sec_6part1 {
    width: 38%;
}

.sec_6part1 #sub {
    width: 48%;
}

.sec_6part1 .sec_3text1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio_img img {
    width: 100%;
    border-radius: 50%;
}

.portfolio_img {
    width: 35%;
    position: relative;
}

.portfolio_text h3 {
    color: white;
    font-weight: 500;
    font-size: 17px;
}

.portfolio_text h4 {
    font-size: 19px;
    color: white;
    margin: 0;
}

.portfolio_text p {
    color: #929495;
    font-size: 15px;
}

.quote {
    position: absolute;
    bottom: 0;
    right: 4px;
    width: 28px;
    height: 27px;
    background: #00adff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote i {
    color: white;
    font-size: 12px;
}

.portfolio {
    width: 45%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 70px 17px;
    background: #161719;
    border-radius: 20px;
    position: relative;
}

.sec_6part2 {
    display: flex;
    gap: 20px;
    width: 56%;
    position: relative;
    padding: 66px 0px;
}

.inner6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
}

.portfolio1 {
    position: absolute;
    top: -136px;
    right: -31px;
}

.sec_6part2 .chakri {
    top: 277px;
    right: -105px;
}

.part12_footer .sub_menu {
    background: #0d0e0f;
}

.part12_footer a {
    text-decoration: none;
}

.part1all {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0px;
    gap: 20px;
}

.part1same {
    width: 25%;
    line-height: 1.5;
}

.part1all h2 {
    color: white;
    font-size: 19px;
    font-weight: 600;
}

.part11_footer p {
    color: #929495;
    font-size: 16px;
    font-weight: 500;
}

.mail {
    color: #929495;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: all 0.4s ease;
}

.mail:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: gray;
    bottom: -5px;
    transition: all 0.5s ease;
}

.mail:hover::before {
    width: 0%;
}

.mail:hover {
    color: white;
}

.footer_call {
    color: white;
    font-size: 19px;
    text-decoration: none;
    font-weight: 600;
}

.part12_footer .sub_menu {
    padding: 0;
}

.part13_footer ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin: 0;
}

.part13_footer a {
    color: #929495;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.5s ease;
}

.part13_footer a:hover {
    color: white;
}

.footer_input input {
    background: #1d1e21;
    border: none;
    color: white;
    outline: none;
    width: 100%;
}

.footer_input {
    width: 69%;
    padding: 13px 15px;
    border-radius: 30px;
    background: #1d1e21;
    display: flex;
    align-items: center;
    gap: 5px;

}

.footer_input i {
    font-size: 19px;
    color: #929495;
    font-weight: 200;
}

.part14_footer {
    display: flex;
    flex-direction: column;
}

.footer_inputall {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

#inputside {
    padding: 18px;
    border-radius: 50%;
    background: #00adff;
    color: white;
    font-size: 17px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#inputside:hover {
    background-color: #0390d3;
}

.part14_footer #ponitEdit {
    color: #929495;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
}

.part14_footer #ponitEdit a {
    color: #929495;
    font-weight: 600;
    text-underline-position: under;
}

.point22 {
    width: 10px;
    height: 6px;
    border-radius: 2px;
    background: white;
    display: none;
}

footer.main_footer {
    background: #0d0e0f;
    padding: 59px 0px;
    padding-bottom: 0;
}

.part2_footer h3 {
    color: #929495;
    font-weight: 500;
    font-size: 16px;
}

.part2_footer a {
    color: #929495;
    text-decoration: none;
}

.part2_footer {
    border-top: 1px solid #8080803d;
    padding: 20px 0px;
}

#scrollericon {
    position: absolute;
    padding: 12px 12px;
    border-radius: 50%;
    background: white;
    color: black;
    font-size: 19px;
    transition: all 0.5s ease;
    cursor: pointer;

}
.scroller {
    position: fixed;
    right: 80px;
    transform: rotate(-90deg) translateX(-91px);
    bottom: 27px;
    max-width: 1400px;
    transition:  all 0.5s ease;
}
#scrollericon:hover{
    background-color: #00ADFF;
    color: white;
}
#ponitEdit a:hover {
    color: white;
}
#ponitEdit a{
    transition: all 0.5s ease;
}
.ponitEdit a:hover {
    color: white;
}
.ponitEdit a{
    transition: all 0.5s ease;
}
.part2_footer a:hover {
    color: white;
}
.part2_footer a{
    transition: all 0.5s ease;
}
@keyframes chakri {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1260px) {
    #responsive_bar {
        display: block;
    }

    .search {
        display: flex;
        gap: 20px;
    }

    nav {
        display: none;
    }

    .part1_header {
        width: 90%;
        justify-content: space-between;
    }

    .call .num {

        display: none;
    }

    .part2_header {
        width: 35%;
        justify-content: space-between;
        gap: 24px
    }

    .header_btn {
        width: 100%;
    }

    .phonecall_icon {
        width: 20% !important;
    }

    .header_btn a {

        padding: 14px 31px;

    }

    .sec_2all_img {
        flex-wrap: wrap;
        width: 100%;
        gap: 0px;
        justify-content: space-between;
    }

    .channel {
        width: 26%;
    }
    .sec_1_part1 .chakri {
        right: 9px;
        top: -14px;
    }

    .sec_3text1 h2 {
        font-size: 45px;
    }

    .sec_3text1 p {
        line-height: 1.2;
        font-size: 17px;
    }

    .sec_4_headine h2 {
        font-size: 38px;
    }

    .sec5part2 {
        justify-content: space-between;
        gap: 10px;
        flex-wrap: wrap;
    }

    .con1 {
        width: 45%;
    }

    .sec5part1 {
        width: 80%;
    }

    .sec_6part1 {
        margin-bottom: 134px;
        width: 50%;
    }

    .sec_6part2 {
        width: 100%;
        padding: 66px 0px;
    }

    .sec_1_part1 {
        width: 56%;
    }

    .inner6 {

        flex-wrap: wrap;
    }

    .part14_footer #ponitEdit {
        font-size: 13px;

    }

    .part14_footer {
        width: 41%;
    }
    section.sec_1 {
 
        gap: 25px;
    }
    .sec_6part1 #sub {
        width: 45%;
    }
    .container3 {
        padding: 0 !important;
        width: 90%;
    }
    .container2 {
     
        width: 90%;
    }
    .sec_1_part1 h2 {
        font-size: 62px;
    }
    .sec_1_part1 {
        width: 49%;
    }
}

@media screen and (max-width: 990px) {
    section.sec_1 {
        flex-wrap: wrap-reverse;
        gap: 38px;
        justify-content: space-between;
    }
    .sec_1_part1 {
        width: 68%;
    }
    .sec1_part2 {
        width: 100%;
    }

    .sec_6part2 .chakri {
        display: block;
    }

    .sec_3text1 h2 {
        font-size: 30px;
    }

    .sec_3text1 p {
        line-height: 1.2;
        font-size: 17px;
    }

    .audio_sec3 p {
        line-height: 1;
        font-size: 16px;

    }

    .sec_4_headine h2 {
        font-size: 26px;
    }

    .sec5part1 h2 {
        font-size: 31px;
    }

    .sec_6part1 {
        margin-bottom: 134px;
        width: 60%;
    }

    .part1all {
        flex-wrap: wrap;
    }

    .part14_footer {
        width: 100%;
    }

    .ponitEdit {
        margin-left: 25px;
    }

    .sec_1_part1 .chakri {
        display: none;
    }
    .sec_2all_img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .part1_header {
        width: 74%;

    }

    .header_btn {
        display: none;
    }

    .phonecall_icon {
        display: none;
    }

    .part1_header {
        width: 100%;
    }

    .part2_header {
        display: none;
    }

    #search_pop {
        width: 77%;

    }

    .Close_responsive {
        right: 47px;
        top: 15px;
    }

    .form_search_bar {
        padding-left: 23px;
    }

    .Close_responsive {
        right: 39px;
        top: 14px;
        z-index: 100;
    }

    .query a {
        font-size: 20px;

    }

    .homepage {
        padding: 77px;
    }

    .sec_1_part1 h2 {
        font-size: 54px;
    }

    .blue {
        padding: 16px 36px;
    }

    .white {
        padding: 16px 36px;
    }

    .channel {
        width: 34%;
    }

    .sec_2all_img {
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .sec_3text2 {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    section.sec_3 {
        flex-wrap: wrap;
        gap: 127px;
    }

    .sec_3_text {
        width: 100%;
    }

    .sec_3_img {
        width: 100%;
        position: relative;
        top: -74px;
    }

    .sec_4inner {
        flex-wrap: wrap;
        gap: 10px;
    }

    .sec_4_headine {
        width: 100%;
    }

    #sub {
        width: 44%;
    }

    .sec_4_form {
        width: 100%;
    }

    .sec_6part1 #sub {
        width: 35%;
    }

    .sec_6part1 {
        width: 96%;
    }

    .part11_footer {
        width: 59%;
    }

    .sec_1_part1 {
        width: 72%;
    }

}

@media screen and (max-width: 450px) {
    .query {
        display: none;
    }

    .headerlinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 400px;

    }

    #search_pop {
        font-size: 19px;
    }

    .blue {
        padding: 13px 28px;
    }

    .white {
        padding: 13px 28px;
    }

    .sec_1_part1 h2 {
        font-size: 27px;
        letter-spacing: 1px;
    }

    .logo img {
        width: 119px;
    }

    .sec5part1 h2 {
        font-size: 23px;
    }

    .sec5part1 {
        width: 100%;
    }

    #sub {
        width: 59%;
    }

    .sec_4inputs {
        flex-wrap: wrap;
    }

    .sec5part3 a {
        padding: 17px 33px;
    }

    .sec_6part1 #sub {
        width: 88%;
    }

    .sec_6part1 #sub {
        width: 70% !important;
    }

}

@media screen and (max-width: 660px) {
    .query {
        display: none;
    }

    .headerlinks {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 400px;

    }

    .homepage {
        width: 100%;

    }

    .con1 {
        width: 100%;
    }

    .portfolio {
        width: 95%;

    }

    .sec_6part2 {
        flex-wrap: wrap;
    }

    .sec_6part2 .chakri {
        display: none;
    }

    .portfolio1 {
        position: static;

    }

    .sec_6part1 #sub {
        width: 50%;
    }

    .sec_1_part1 h2 {
        font-size: 45px;
    }

    .sec_1_part1 {
        width: 100%;
    }
   
}

@media screen and (max-width: 310px) {
    .sec_1btn {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
}